@import './_variables.scss';

html, body, #app  {
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: $--font-family-slab;
  margin: 0;
  padding: 0;

  .pc-button {
    display: block;
    height: 46px;
    width: 184px;
    margin: 30px auto 0;
    padding: 0;
    text-transform: uppercase;
    background: #86764B;
    border-radius: 4px;
    color: #ffffff;
    font: inherit;
    font-weight: bold;
    cursor: pointer;

    &:focus {
      outline: none;
      border: none;
    }

    &:active {
      border: none;
    }

    &:hover {
      background: #424242;

      &:focus {
        background: #000000;
      }
    }
  }
}