@font-face {
  font-family: 'Roboto Slab', serif;
  font-style: normal;
  font-weight: normal;
  src: url('https://fonts.googleapis.com/css?family=Roboto+Slab');
}

@font-face {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: normal;
  src: url('https://fonts.googleapis.com/css?family=Roboto');
}