/* Variables */

/* Colors
-------------------------- */
@import "./colors";
$--header-background-color: #455A64;


/* Font
-------------------------- */
$--font-family-slab: 'Roboto Slab', serif;
$--font-family: 'Roboto', sans-serif;




//:export {
//
//}