/* Variables */

/* Colors
-------------------------- */
@import "./colors";
$--header-background-color: #455A64;


/* Font
-------------------------- */
$--font-family-slab: 'Roboto Slab';
$--font-family: 'Roboto';




//:export {
//  factor: $--factor;
//  headerHeight: $--header-height;
//  footerHeight: $--footer-height;
//
//  pageTitleHeight: $--page-title-height;
//  pageTitlePaddingTop: $--page-title-padding-top;
//  pageTitlePaddingBottom: $--page-title-padding-bottom;
//
//  wrapperHeight: $--wrapper-height;
//  backgroundColor: $--background-color;
//  headerBackgroundColor: $--header-background-color;
//  borderColor: $--border-color;
//  checkListRowHight: $--check-list-row-height;
//
//  greenPath: $--green-path;
//  bluePath: $--blue-path;
//  basePath: $--base-path;
//  initialNode: $--initial-node;
//}